In [2]:
import pandas as pd
import cufflinks as cf
from plotly.offline import plot, iplot
import numpy as np
import plotly.graph_objs as go
import plotly.io as pio 
import cufflinks as cf
cf.go_offline()
import plotly
import plotly.graph_objs as go
import plotly.offline as py
import chart_studio.plotly as pyo

In [3]:
!pip install cufflinks
!pip install plotly

Requirement already satisfied: cufflinks in c:\users\alyss\anaconda3\lib\site-packages (0.17.3)
Requirement already satisfied: colorlover>=0.2.1 in c:\users\alyss\anaconda3\lib\site-packages (from cufflinks) (0.3.0)
Requirement already satisfied: setuptools>=34.4.1 in c:\users\alyss\anaconda3\lib\site-packages (from cufflinks) (65.6.3)
Requirement already satisfied: ipython>=5.3.0 in c:\users\alyss\anaconda3\lib\site-packages (from cufflinks) (8.10.0)
Requirement already satisfied: numpy>=1.9.2 in c:\users\alyss\anaconda3\lib\site-packages (from cufflinks) (1.23.5)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\alyss\anaconda3\lib\site-packages (from cufflinks) (7.6.5)
Requirement already satisfied: plotly>=4.1.1 in c:\users\alyss\anaconda3\lib\site-packages (from cufflinks) (5.9.0)
Requirement already satisfied: pandas>=0.19.2 in c:\users\alyss\anaconda3\lib\site-packages (from cufflinks) (1.5.3)
Requirement already satisfied: six>=1.9.0 in c:\users\alyss\anaconda3\lib\site-packages (from cufflinks) (1.16.0)
Requirement already satisfied: traitlets>=5 in c:\users\alyss\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (5.7.1)
Requirement already satisfied: decorator in c:\users\alyss\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\alyss\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.1.6)
Requirement already satisfied: colorama in c:\users\alyss\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.4.6)
Requirement already satisfied: stack-data in c:\users\alyss\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\alyss\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\alyss\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\alyss\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (2.11.2)
Requirement already satisfied: backcall in c:\users\alyss\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\alyss\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.18.1)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\alyss\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (6.19.2)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\alyss\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (5.7.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\alyss\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (1.0.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\alyss\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\alyss\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (3.5.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\alyss\anaconda3\lib\site-packages (from pandas>=0.19.2->cufflinks) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\alyss\anaconda3\lib\site-packages (from pandas>=0.19.2->cufflinks) (2.8.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\alyss\anaconda3\lib\site-packages (from plotly>=4.1.1->cufflinks) (8.0.1)
Requirement already satisfied: debugpy>=1.0 in c:\users\alyss\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (1.5.1)
Requirement already satisfied: psutil in c:\users\alyss\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (5.9.0)
Requirement already satisfied: comm>=0.1.1 in c:\users\alyss\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (0.1.2)
Requirement already satisfied: pyzmq>=17 in c:\users\alyss\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (23.2.0)
Requirement already satisfied: nest-asyncio in c:\users\alyss\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (1.5.6)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\alyss\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (7.3.4)
Requirement already satisfied: packaging in c:\users\alyss\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (22.0)
Requirement already satisfied: tornado>=6.1 in c:\users\alyss\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (6.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\alyss\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->cufflinks) (0.8.3)
Requirement already satisfied: fastjsonschema in c:\users\alyss\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\users\alyss\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (4.17.3)
Requirement already satisfied: jupyter-core in c:\users\alyss\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (5.2.0)
Requirement already satisfied: wcwidth in c:\users\alyss\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.30->ipython>=5.3.0->cufflinks) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\alyss\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (6.5.2)
Requirement already satisfied: pure-eval in c:\users\alyss\anaconda3\lib\site-packages (from stack-data->ipython>=5.3.0->cufflinks) (0.2.2)
Requirement already satisfied: executing in c:\users\alyss\anaconda3\lib\site-packages (from stack-data->ipython>=5.3.0->cufflinks) (0.8.3)
Requirement already satisfied: asttokens in c:\users\alyss\anaconda3\lib\site-packages (from stack-data->ipython>=5.3.0->cufflinks) (2.0.5)
Requirement already satisfied: attrs>=17.4.0 in c:\users\alyss\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\alyss\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (0.18.0)
Requirement already satisfied: entrypoints in c:\users\alyss\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (0.4)
Requirement already satisfied: platformdirs>=2.5 in c:\users\alyss\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (2.5.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\alyss\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (305.1)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\users\alyss\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\alyss\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.17.1)
Requirement already satisfied: nbclassic>=0.4.7 in c:\users\alyss\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.2)
Requirement already satisfied: argon2-cffi in c:\users\alyss\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (21.3.0)
Requirement already satisfied: nbconvert>=5 in c:\users\alyss\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (6.5.4)
Requirement already satisfied: jinja2 in c:\users\alyss\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (3.1.2)
Requirement already satisfied: prometheus-client in c:\users\alyss\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.14.1)
Requirement already satisfied: jupyter-server>=1.8 in c:\users\alyss\anaconda3\lib\site-packages (from nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.23.4)
Requirement already satisfied: notebook-shim>=0.1.0 in c:\users\alyss\anaconda3\lib\site-packages (from nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.2.2)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\alyss\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.13)
Requirement already satisfied: jupyterlab-pygments in c:\users\alyss\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.1.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\alyss\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\alyss\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.8.4)
Requirement already satisfied: defusedxml in c:\users\alyss\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.7.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\alyss\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (2.1.1)
Requirement already satisfied: bleach in c:\users\alyss\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (4.1.0)
Requirement already satisfied: tinycss2 in c:\users\alyss\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.2.1)
Requirement already satisfied: beautifulsoup4 in c:\users\alyss\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (4.11.1)
Requirement already satisfied: lxml in c:\users\alyss\anaconda3\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (4.9.1)
Requirement already satisfied: pywinpty>=1.1.0 in c:\users\alyss\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (2.0.10)
Requirement already satisfied: argon2-cffi-bindings in c:\users\alyss\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (21.2.0)
Requirement already satisfied: anyio<4,>=3.1.0 in c:\users\alyss\anaconda3\lib\site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (3.5.0)
Requirement already satisfied: websocket-client in c:\users\alyss\anaconda3\lib\site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.58.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\alyss\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\alyss\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (2.3.2.post1)
Requirement already satisfied: webencodings in c:\users\alyss\anaconda3\lib\site-packages (from bleach->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.1)
Requirement already satisfied: sniffio>=1.1 in c:\users\alyss\anaconda3\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.2.0)
Requirement already satisfied: idna>=2.8 in c:\users\alyss\anaconda3\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (3.4)
Requirement already satisfied: pycparser in c:\users\alyss\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (2.21)
Requirement already satisfied: plotly in c:\users\alyss\anaconda3\lib\site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\alyss\anaconda3\lib\site-packages (from plotly) (8.0.1)

In [4]:
dataset = pd.read_csv("pedido.csv", sep=',')
df=dataset
df

,id,id_caixa,status,data,fechamento,id_cliente,id_mesa,id_usuario,subtotal,taxa,...,id_entregador,cortesia,motivo_cortesia,troco_para,taxa_entrega,id_bairro,id_endereco,sync,order_id,reference
0,1,1,FECHADO,2016-09-08 14:54:56,2016-09-08 20:44:22,1,1,1,33,0,...,0,0,\N,0,0,0,0,1,0,\N
1,2,1,FECHADO,2016-09-08 18:11:17,2016-09-08 20:45:16,1,2,1,"17,99",0,...,0,0,\N,0,0,0,0,1,0,\N
2,3,1,FECHADO,2016-09-08 18:43:14,2016-09-08 20:46:19,1,3,1,"23,97",0,...,0,0,\N,0,0,0,0,1,0,\N
3,4,1,FECHADO,2016-09-08 20:46:44,2016-09-08 20:58:17,1,1,1,"17,98",0,...,0,0,\N,0,0,0,0,1,0,\N
4,5,1,FECHADO,2016-09-08 20:48:55,2016-09-08 21:03:01,1,2,1,"41,97",0,...,0,0,\N,0,0,0,0,1,0,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99997,573,FECHADO,2018-01-03 22:22:51,2018-01-04 00:58:06,1,46,21,"9,49",0,...,0,0,\N,0,0,0,0,1,0,\N
99996,99998,573,FECHADO,2018-01-03 22:23:52,2018-01-03 22:59:24,1,8,18,"75,93",0,...,0,0,\N,0,0,0,0,1,0,\N
99997,99999,573,FECHADO,2018-01-03 22:24:51,2018-01-04 00:35:43,13067,0,11,"47,47",0,...,1,0,\N,0,0,0,0,1,0,\N
99998,100000,573,FECHADO,2018-01-03 22:30:45,2018-01-04 00:23:06,3176,0,1,"39,47",0,...,1,0,\N,50,0,0,0,1,0,\N
99999,100001,573,FECHADO,2018-01-03 22:32:10,2018-01-04 00:21:15,6726,0,1,"14,49",0,...,1,0,\N,20,0,0,0,1,0,\N

In [26]:
#fazendo o drop de algumas colunas que nao tem informaçõe pra deixar o df mais limpo

#df = df.drop('sync', axis= 1)
#df = df.drop('id_bairro', axis= 1)
#df = df.drop('id_endereco', axis= 1)
#df = df.drop('cortesia', axis= 1)
#df = df.drop('motivo_cortesia', axis= 1)
#df = df.drop('cover', axis= 1)
#df = df.drop('reference', axis= 1)
#df = df.drop('order_id', axis= 1)
#df = df.drop('valor_taxa', axis= 1)
#df = df.drop('taxa_entrega', axis= 1)

In [ ]:
#veriicando se a soma dos valores das colunas a serem excluidos e 0 

#df["nome da coluna"].values.sum()

In [30]:
df

,id,id_caixa,status,data,fechamento,id_cliente,id_mesa,id_usuario,subtotal,taxa,desconto,total,valor_recebido,last_update,pedido_number,id_usuario_cancelamento,id_entregador,troco_para
0,1,1,FECHADO,2016-09-08 14:54:56,2016-09-08 20:44:22,1,1,1,33,0,0,33,50,2018-07-03 16:40:52,1,0,0,0
1,2,1,FECHADO,2016-09-08 18:11:17,2016-09-08 20:45:16,1,2,1,"17,99",0,0,"17,99",20,2018-07-03 16:40:52,2,0,0,0
2,3,1,FECHADO,2016-09-08 18:43:14,2016-09-08 20:46:19,1,3,1,"23,97",0,0,"23,97",30,2018-07-03 16:40:52,3,0,0,0
3,4,1,FECHADO,2016-09-08 20:46:44,2016-09-08 20:58:17,1,1,1,"17,98",0,0,"17,98",18,2018-07-03 16:40:52,4,0,0,0
4,5,1,FECHADO,2016-09-08 20:48:55,2016-09-08 21:03:01,1,2,1,"41,97",0,0,"41,97",52,2018-07-03 16:40:52,5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99997,573,FECHADO,2018-01-03 22:22:51,2018-01-04 00:58:06,1,46,21,"9,49",0,"9,49",0,0,2018-07-03 16:40:52,122,0,0,0
99996,99998,573,FECHADO,2018-01-03 22:23:52,2018-01-03 22:59:24,1,8,18,"75,93",0,0,"75,93","75,93",2018-07-03 16:40:52,123,0,0,0
99997,99999,573,FECHADO,2018-01-03 22:24:51,2018-01-04 00:35:43,13067,0,11,"47,47",0,0,"47,47","47,47",2018-07-03 16:40:52,124,0,1,0
99998,100000,573,FECHADO,2018-01-03 22:30:45,2018-01-04 00:23:06,3176,0,1,"39,47",0,0,"39,47",50,2018-07-03 16:40:52,125,0,1,50
99999,100001,573,FECHADO,2018-01-03 22:32:10,2018-01-04 00:21:15,6726,0,1,"14,49",0,0,"14,49",20,2018-07-03 16:40:52,126,0,1,20

In [32]:
#df.to_csv('pedido_limpo.csv', index=False)

In [130]:
dataset = pd.read_csv("pedido_limpo.csv", sep=',')
df=dataset
df.columns

Index(['id', 'id_caixa', 'status', 'data', 'fechamento', 'id_cliente',
       'id_mesa', 'id_usuario', 'subtotal', 'taxa', 'desconto', 'total',
       'valor_recebido', 'last_update', 'pedido_number',
       'id_usuario_cancelamento', 'id_entregador', 'troco_para'],
      dtype='object')

In [138]:
from datetime import datetime

# Suponha que você tenha um DataFrame chamado df com uma coluna 'data_hora' contendo a data e hora completa

# Converta a coluna 'data_hora' para o tipo datetime, se necessário
df['data'] = pd.to_datetime(df['data'])

# Extrai apenas o ano da coluna 'data_hora'
df['ano'] = df['data'].dt.strftime('%Y')

# Imprime o DataFrame com a coluna 'ano' contendo apenas o ano
print(df['ano'])

0        2016
1        2016
2        2016
3        2016
4        2016
         ...
99995    2018
99996    2018
99997    2018
99998    2018
99999    2018
Name: ano, Length: 100000, dtype: object

In [139]:
#fazendo a soma geral com objetivo de ver o faturamento a cada ano do dataset
# e tambem da pra pegar a quantidade de pedidos e de cancelamento

df_ano=df.groupby('ano')

soma_por_ano = df_ano.sum()

soma_por_ano["subtotal"]

C:\Users\alyss\AppData\Local\Temp\ipykernel_20836\4274546238.py:6: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

ano
2016     338005.65
2017    2846068.57
2018      15756.19
Name: subtotal, dtype: float64

In [140]:
#coloca a coluna anos no soma_por_ano_df
anos = [2016, 2017, 2018]

soma_por_ano_df["anos"] = anos

soma_por_ano_df

,id,id_caixa,id_cliente,id_mesa,id_usuario,subtotal,taxa,pedido_number,id_usuario_cancelamento,id_entregador,anos
anos,,,,,,,,,,,
2016-01-01,51177523,586153,994094,76034,14695,338005.65,0,602256,42,2015,2016
2017-01-01,4901281623,38061517,171494634,1159889,990851,2846068.57,0,10197335,15740,32038,2017
2018-01-01,47686475,327370,1914422,5801,7309,15756.19,0,35574,75,196,2018

In [142]:

# esse primeiro serve para converter todas a virgulas em pontos as vezes ele da erro i e so descomentar ou comentar
#df['subtotal'] = df['subtotal'].str.replace(',', '.')
#fazendo uma conversao para todos da coluna subtotal ficar em float
df['subtotal'] = df['subtotal'].astype(float).round(2)

# Imprime o DataFrame atualizado
print(df['subtotal'])

0        33.00
1        17.99
2        23.97
3        17.98
4        41.97
         ...
99995     9.49
99996    75.93
99997    47.47
99998    39.47
99999    14.49
Name: subtotal, Length: 100000, dtype: float64

In [143]:
#criando df para cada ano pra fica mais simples de manipular
df['ano'] = pd.to_datetime(df['ano'])

# Especifique o ano desejado
ano_2017 = 2017
ano_2018 = 2018
ano_2016 = 2016

# Filtra as linhas com o ano desejado
df_2017 = df[df['ano'].dt.year == ano_2017]
df_2018 = df[df['ano'].dt.year == ano_2018]
df_2016 = df[df['ano'].dt.year == ano_2016]

In [ ]:
#saidas

#df_2016
#df_2017
#df_2018

In [121]:
#soma do subtotal por ano  

#df_2016["subtotal"].sum() # valor de saida : 338005.65
#df_2017["subtotal"].sum() # valor de saida : 2846068.5700000003
#df_2018["subtotal"].sum() # valoe de saida : 15756.19

In [124]:
#coloca a coluna anos no soma_por_ano_df
anos = [2016, 2017, 2018]

soma_por_ano_df["anos"] = anos

soma_por_ano_df

#linear simples

from sklearn.linear_model import LinearRegression

# Separar as variáveis independentes (Ano) e a variável dependente (Valor)
X = soma_por_ano_df[["anos"]]
Y = soma_por_ano_df['subtotal']

# Criar e ajustar um modelo de regressão linear
modelo = LinearRegression()
modelo.fit(X, Y)

# Fazer previsões com base no modelo ajustado
X_novo = pd.DataFrame({'anos': [2019, 2020,2021,2022]})
previsao = modelo.predict(X_novo)

# Exibir as previsões
print(previsao)

[744360.67666668 583235.94666666 422111.21666664 260986.48666668]

In [115]:
"""regressao temporal

import statsmodels.api as sm

# Transformar a coluna 'Ano' em índice temporal
soma_por_ano_df['anos'] = pd.to_datetime(soma_por_ano_df['anos'], format='%Y')
soma_por_ano_df.set_index('anos', inplace=True)

# Ajustar o modelo de regressão de séries temporais
modelo = sm.tsa.ARIMA(soma_por_ano_df['subtotal'], order=(1, 0, 0))  # Exemplo com um modelo ARIMA de ordem (1, 0, 0)
resultado = modelo.fit()

# Fazer previsões com base no modelo ajustado
idx_novo = pd.date_range(start='2019', end='2023', freq='Y')
previsao = resultado.predict(start=len(soma_por_ano_df), end=len(soma_por_ano_df) + len(idx_novo) - 1)

# Exibir as previsões
print(previsao)
"""

"regressao temporal\n\nimport statsmodels.api as sm\n\n# Transformar a coluna 'Ano' em índice temporal\nsoma_por_ano_df['anos'] = pd.to_datetime(soma_por_ano_df['anos'], format='%Y')\nsoma_por_ano_df.set_index('anos', inplace=True)\n\n# Ajustar o modelo de regressão de séries temporais\nmodelo = sm.tsa.ARIMA(soma_por_ano_df['subtotal'], order=(1, 0, 0))  # Exemplo com um modelo ARIMA de ordem (1, 0, 0)\nresultado = modelo.fit()\n\n# Fazer previsões com base no modelo ajustado\nidx_novo = pd.date_range(start='2019', end='2023', freq='Y')\nprevisao = resultado.predict(start=len(soma_por_ano_df), end=len(soma_por_ano_df) + len(idx_novo) - 1)\n\n# Exibir as previsões\nprint(previsao)\n"